._1YqjVUO3KYLRq_mer-HsUX > div {
  border-radius: 8px;
  border: 2px solid #7c6d72;
  box-sizing: border-box;
}
._1YqjVUO3KYLRq_mer-HsUX {
  padding: 2px;
}

.Row_0 > div > div > div {
  background-color: #f3a1ba;
}
.Row_1 > div > div > div {
  background-color: #f6b9cb;
}
.Row_2 > div > div > div {
  background-color: #f9d0dc;
}
.Row_3 > div > div > div {
  background-color: #fce8ee;
}
.Row_4 > div > div > div {
  background-color: #fdf3f6;
}

.DefaultTheme {
  --background-color: #f0ede8;
  --key-color: #84747a;
  --key-shift-color: #84747a;
  --key-caps-color: #84747a;
  --key-tab-color: #84747a;
  --key-enter-color: #84747a;
  --key-backspace-color: #84747a;
  --key-action-button-glyph-color: #84747a;
}

.DefaultTheme ._2KhPXikozxMpbIRo_6jPxW._3UFQq1GinEyksceos-TETi {
  background-color: #986675;
}

/*icons*/

img[data-key="Backspace"] {
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(578%)
    hue-rotate(286deg) brightness(104%) contrast(93%);
}

img[data-key="CapsLock"] {
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(578%)
    hue-rotate(286deg) brightness(104%) contrast(93%);
}
img[data-key="Enter"] {
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(578%)
    hue-rotate(286deg) brightness(104%) contrast(93%);
}
img[data-key="Shift"] {
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(578%)
    hue-rotate(286deg) brightness(104%) contrast(93%);
}
img[data-key="Space"] {
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(578%)
    hue-rotate(286deg) brightness(104%) contrast(93%);
}
img[data-key="Steam Chat Items"] {
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(578%)
    hue-rotate(286deg) brightness(104%) contrast(93%);
}
img[data-key="Steam Chat Items"] {
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(578%)
    hue-rotate(286deg) brightness(104%) contrast(93%);
}
._2KhPXikozxMpbIRo_6jPxW._21EoN2ZlmHNY3fjho_HMae img {
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(578%)
    hue-rotate(286deg) brightness(104%) contrast(93%);
}
._3VtXfHDGV1q2LCVruVnHed._2bothi051q1YZqD6NGaoDB > img {
  filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(578%)
    hue-rotate(286deg) brightness(104%) contrast(93%);
}
.gbo6EORF-ApmV-2TYgZPr * {
  user-select: none;
  fill: #84747a !important;
}
._2KhPXikozxMpbIRo_6jPxW > span {
  color: #84747a;
}
